.main{
    width:100%;
    
}
.box{
margin: 0% auto;
width: 80%;
}
.zz{
    text-align: center;
    background-color: black;
    color: white;
}
.aa{
 background-color: rgba(255, 0, 200, 0.903);
 color: rgb(20, 19, 19);  
 font-size: 12px; 
}
.ab{
 background-color:  rgba(255, 0, 200, 0.903); 
 color: rgb(20, 19, 19);  
 font-size: 12px;     
}
.ac{
 background-color: rgba(255, 0, 200, 0.803); 
 color: rgb(20, 19, 19);  
 font-size: 12px;    
}
.ad{
 background-color: rgba(255, 0, 200, 0.703);  
 color: rgb(20, 19, 19);  
 font-size: 12px; 
}
.ae{
 background-color:  rgba(255, 0, 200, 0.603); 
 color: rgb(20, 19, 19);  
 font-size: 12px; 
}
.af{
 background-color: rgba(255, 0, 200, 0.503);   
 color: rgb(20, 19, 19);  
 font-size: 12px; 
}
.ag{
 background-color:  rgba(255, 0, 200, 0.403); 
 color: rgb(20, 19, 19);  
 font-size: 12px; 
}
.ah{
 background-color:  rgba(255, 0, 200, 0.303); 
 color: rgb(20, 19, 19);  
 font-size: 12px; 
}
.ai{
 background-color:  rgba(255, 0, 200, 0.203); 
 color: rgb(20, 19, 19);  
 font-size: 12px; 
}
.aj{
 background-color:  rgba(255, 0, 200, 0.103); 
 color: rgb(20, 19, 19);  
 font-size: 12px; 
}
.ak{
 background-color: rgba(69, 245, 0, 0.999);   
 color: rgb(20, 19, 19);  
 font-size: 12px; 
}
.al{
 background-color: rgba(134, 230, 8, 0.900);
 color: rgb(20, 19, 19);  
 font-size: 12px;
   
}
.am{
 background-color:rgba(134, 230, 8, 0.800);  
 color: rgb(20, 19, 19);  
 font-size: 12px;  
}
.an{
 background-color: rgba(134, 230, 8, 0.700);  
 color: rgb(20, 19, 19);  
 font-size: 12px;    
}
.ao{
 background-color: rgba(134, 230, 8, 0.600);  
 color: rgb(20, 19, 19);  
 font-size: 12px;   
}
.ap{
 background-color:rgba(134, 230, 8, 0.500); 
 color: rgb(20, 19, 19);  
 font-size: 12px;    
}
.aq{
 background-color:rgba(134, 230, 8, 0.400); 
 color: rgb(20, 19, 19);  
 font-size: 12px;    
}
.ar{
 background-color:rgba(134, 230, 8, 0.300); 
 color: rgb(20, 19, 19);  
 font-size: 12px;   
}
.as{
 background-color: rgba(134, 230, 8, 0.200); 
 color: rgb(20, 19, 19);  
 font-size: 12px;    
}
.at{
 background-color: rgba(134, 230, 8, 0.100);    
 color: rgb(20, 19, 19);  
 font-size: 12px;
}


